<!DOCTYPE html>
html(lang="en")
head
  meta(charset="UTF-8")
  meta(name="viewport", content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
  // build:css css/main.min.css
  each css in files.CSS
    link(rel="stylesheet", href=`${css}`)
  // endbuild

  title Rianjani - Inicio
body
  h1 Probando que todo este bien
    i.fa.fa-clock
  
  // build:js js/main.min.js
  each js in files.JS
    script(src=`${js}`)
  // endbuild
